body{
    margin:0;
    background:#141414;
    color:white;
    font-family:Arial;
}

header{
    background:black;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    position:sticky;
    top:0;
    z-index:10;
}

header h1{
    color:#e50914;
}

input{
    width:300px;
    padding:10px;
    border:none;
    border-radius:6px;
    outline:none;
}

/* HERO */
#featured{
    height:400px;
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:flex-end;
    padding:30px;
    position:relative;
}

#featured::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(to top, rgba(0,0,0,0.8), transparent);
}

#featured h2{
    position:relative;
    font-size:40px;
}

/* TITLES */
.section-title{
    padding:20px;
}

/* ROWS */
.row{
    display:flex;
    overflow-x:auto;
    gap:15px;
    padding:20px;
}

.row::-webkit-scrollbar{
    display:none;
}

/* CARD */
.movie{
    min-width:180px;
    background:#222;
    border-radius:10px;
    overflow:hidden;
    cursor:pointer;
    transition:0.3s;
    position:relative;
}

.movie:hover{
    transform:scale(1.1);
}

.movie img{
    width:100%;
    height:260px;
    object-fit:cover;
}

.movie h3{
    font-size:14px;
    margin:8px;
}

.movie p{
    margin:0 8px 10px;
    color:#ccc;
}

/* ❤️ */
.heart{
    position:absolute;
    top:8px;
    right:8px;
    cursor:pointer;
    font-size:18px;
}

/* MODAL */
.modal{
    display:none;
    position:fixed;
    top:0;left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
    justify-content:center;
    align-items:center;
}

.modal-content{
    background:#1c1c1c;
    padding:20px;
    width:80%;
    max-width:700px;
    border-radius:10px;
    position:relative;
}

#close{
    position:absolute;
    right:15px;
    top:10px;
    cursor:pointer;
    font-size:25px;
}
